[submodule "xdp-tutorial"]
	path = xdp-tutorial
	url = https://github.com/xdp-project/xdp-tutorial.git
[submodule "bpf-examples"]
	path = bpf-examples
	url = https://github.com/xdp-project/bpf-examples.git
[submodule "xdp_walkthrough_examples"]
	path = xdp_walkthrough_examples
	url = https://github.com/pabeni/xdp_walkthrough_examples.git
[submodule "ship-bpf-with-go"]
	path = ship-bpf-with-go
	url = https://github.com/lmb/ship-bpf-with-go.git
